
.form{
 font-size:20px;
  color:yellow;
  font-family:sefir;
  font-weight:bold;
};

:root {
    --color1:#d744b5;
    --color2:#0a0a0a;
    --color3:#695c0b;
}
main{
    background-color: var(--color3);
    padding: 20px 20px;
}
.container-fluid{
    background-color: var(--color2);
    padding: 20px 20px;
}
.end-conteiner-fluid{
    background-color: var(--color2);
}
.row{
    background-color: var(--color1);
    margin:20px auto 20px;
}
.col-sm-4{
    background-color: var(--color2);
    margin: 30px auto 30px;
    width: 200px;
    height: 250px;
    display: grid;
    place-items: center;
}
.col-md-6{
    background-color: var(--color2);
    margin: 30px auto 30px;
    height: 350px;
    width: 400px;
    display: grid;
    place-items: center;
}

